*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}

/* ------------------------------------------ */

.homepage{
    width: 100%;
    height: 100vh;
    z-index: -0;
}

.cercle-background{
    position: absolute;
    z-index: -1;
}
/* ---------------NAV--------------- */
nav{
    width: 100%;
    height: 90px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-bloc-2{
    width: 50%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    z-index: 1;
}
.logo{
    z-index: 2;
    width: 120px;
    height: 114px;
    margin-left: 50px;
    margin-top: 15px;
}
.nav-link{
    font-size: 20px;
}
.nav-link:hover{
    color: #F59518;
}
.nav-bloc-3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-orange{
    width: 180px;
    height: 55px;
    background-color: #F59518;
    border: none;
    border-radius: 20px 5px 20px 5px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14.5px;
    font-weight: 500;
}
#icons{
cursor: pointer;
display: none;
}

/* ------------------------------------------ */
.article{
    width: 85%;
    height: 86vh;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.right-article{
    width: 40%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.right-article-title{
    color: #101A24;
    font-family: "David Libre";
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; 
}
.right-article-p{
    font-size: 24px;
    line-height: 50px;
}
.right-article-btn{
    display: flex;
    align-items: center;
    width: 100%;
}
.right-article-piscine{
    width: 141px;
    height: 54px;
    background-color: #101A24;
    border: none;
    border-radius: 15px 5px 15px 5px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: "David Libre";
    font-size: 19px;
    line-height: 29px; /* 145% */
    margin-right: 15px;
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
}
.right-article-projet{
    width: 203.304px;
    height: 54px;
    background-color: #F59518;
    border: none;
    border-radius: 15px 5px 15px 5px;
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "David Libre";
    font-size: 19px;
    line-height: 29px; /* 145% */
    filter: drop-shadow(0px 15px 30px rgba(0, 0, 0, 0.15));
}

.left-article{
    width: 30%;
    display: flex;
    justify-content: center;
}
.piscine{
    width: 400px;
    height: 600px;
    z-index: 2;
}
.feuille-1{
    position: absolute;
    margin-top: -230px;
    margin-left: -400px;
    width: 610px;
    height: 619px;
    z-index: -1;
}
.feuille-2{
    position: absolute;
    margin-top: -140px;
    margin-left: 350px;
    width: 400px;
    height: 480px;
    z-index: -1;
}
.feuille-3{
    position: absolute;
    margin-top: 430px;
    margin-left: 460px;
    width: 200px;
    height: 380px;
    z-index: -1;
}
.fruit{
    position: absolute;
    z-index: 3;
    margin-top: 380px;
    margin-left: -390px;
    width: 230px;
    height: 280px;
}
.piscine-responsive{
    display: none;
}
/* ------------------------------------------ */
/* Section Forme */
/* ------------------------------------------ */

.forme{
    background: #F3F3F4;
    height: 105vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}
.bloc-top{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.h2-title{
    color: #101A24;
    font-family: "David Libre";
    font-size: 55px;
    line-height: 72px; 
}
.p-sub{
    color: #5C6574;
    font-family: "Inter";
    font-size: 18px;
    line-height: 29px; 
}
.forme-art{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forme-container{
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forme-thumb-container{
    z-index: 1;
}
.art-feuille-1{
    width: 208px;
    height: 382px;
    position: absolute;
    margin-top: -700px;
    margin-right: 1600px;
    transform: scaleX(-1) scaleY(-1);
}
.art-feuille-2{
    margin-top: -200px;
    margin-right: 1500px;
    position: absolute;
}
.art-feuille-3{
    width: 208px;
    height: 382px;
    position: absolute;
    margin-top: -190px;
    margin-right: -1650px;
}
.art-feuille-4{
    margin-top: -650px;
    margin-right: -1600px;
    position: absolute;
}
.img-art{
    width: 280px;
    height: 280px;
    border-radius: 400px;
    border: 4px solid #FFF;
    position: absolute;
    margin-top: -125px;
    object-fit: cover;
}
.white-bloc{
    width: 300px;
    height: 250px;
    padding: 50px 0px 50px 0px;
    border: solid 3px white;
    border-radius: 50px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: white;
}
.thumb-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white-bloc:hover{
    border: solid 3px #F59518;
    transition: ease;
}
.marked{
    border: solid 3px #F59518;
}
.h3-title-thumb{
    color: #101A24;
    text-align: center;
    font-family:" David Libre";
    font-size: 24px;
    line-height: 26px;
}
.thumb-subtext{
    text-align: center;
    width: 260px;
    color: #5C6574;
    font-family: "Inter";
    font-size: 17px;
    line-height: 26px; 
}

/* ------------------------------------------ */
/* Section dimension */
/* ------------------------------------------ */
.dimension{
    background: #F3F3F4;
    height: 100vh;
}
.dimension-ruler-container{
    width: 75vw;
    height: 30vh;
    margin: auto;
    margin-top: 50px;
}
.dimension-ruler-container-2{
    width: 75vw;
    height: 30vh;
    margin: auto;
    margin-top: 50px;
}
.feuille-3-dimension{
    position: absolute;
    z-index: 0;
    margin-left: -150px;
    margin-top: -100px;
    transform: scaleX(-1) scaleY(-1);
}

.dimension-ruler-title{
    margin-bottom: 30px;
    padding: 0px 35px 0px 50px;
    color: #101A24;
    font-family: "David Libre";
    font-size: 32px;
    line-height: 65px; 
}
.ruler-largeur{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
    height: 128px;
    border-radius: 50px 10px 50px 10px;
    padding: 0px 35px 0px 35px;
    position: relative;
    z-index: 1;
}

.ruler-longeur{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    height: 128px;
    border-radius: 50px 10px 50px 10px;
    padding: 0px 35px 0px 35px;
    position: relative;
    z-index: 1;
}

.feuille-4-dimemsion{
    position: absolute;
    z-index: 0;
    margin-top: 0px;
    margin-left: 900px;
}

.mesure{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.long-bar{
    background-color: #101A24;
    width: 2px;
    height: 30px;
}
.short-bar{
    background-color: #101A24;
    width: 2px;
    height: 10px;
}
.number-ruler{
    color: #101A24;
    font-family: "Inter";
    font-size: 22px;
    position: absolute;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

}
.number-ruler:hover{
    border-radius: 100%;
    border: #F59518 solid 2px;
    width: 38px;
    height: 38px;
    cursor: pointer;
    color: #F59518;
}
.number-marked{
    border-radius: 100%;
    border: #F59518 solid 2px;
    color: #F59518;
    width: 38px;
    height: 38px;
}
/* ------------------------------------------ */
/* Section revetement */
/* ------------------------------------------ */
.revetement{
    background-color: #F3F3F4;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.feuille-revetement-1{
    position: absolute;
    margin-right: 1500px;
    margin-top: -150px;
    z-index: 0;
}
.feuille-revetement-2{
    position: absolute;
    z-index: 0;
    margin-left: 1700px;
    margin-top: -100px;
}
.feuille-revetement-3{
    position: absolute;
    z-index: 0;
    margin-right: 1590px;
    margin-top: 620px;
}
.feuille-revetement-4{
    position: absolute;
    z-index: 0;
    margin-left: 1530px;
    margin-top: 690px;
}
.R-container{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.R-thumb{
    background-color: white;
    min-width: 600px;
    width: 600px;
    height: 247px;
    display: flex;
    border-radius: 48px 6px 46px 6px;
    border: solid 3px transparent;
    z-index: 1;
    cursor: pointer;
}
.R-thumb:hover{
    border: solid 3px #F59518;
}
.R-thumb-marked {
    border: solid 3px #F59518;
}
.R-img{
    width: 239.474px;
    height: 247px;
    border-radius: 45px 0px 45px 5px;
}
.R-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}
.R-title{
    width: 216px;
    color: #101A24;
    text-align: center;
    font-family: "David Libre";
    font-size: 22px;
    font-weight: 700;
    line-height: 26px; 
    padding: 10px 0px 10px 0px;
}
.R-subText{
    width: 260px;
    height: 170px;
    color: #5C6574;
    font-family: "Inter";
    font-size: 17px;
    line-height: 29.5px;
}

/* ------------------------------------------ */
/* Section option */
/* ------------------------------------------ */

.options{
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #F3F3F4;
    overflow: hidden;
}
.feuille-option-5{
    position: absolute;
    z-index: 0;
    margin-right: 1590px;
    margin-top: 20px;
    opacity: 0.5;
}
.feuille-option-6{
    position: absolute;
    z-index: 0;
    margin-left: 1570px;
    margin-top: 50px;
}
.feuille-option-7{
    position: absolute;
    z-index: 0;
    margin-right: 1690px;
    margin-top: 560px;
}
.feuille-option-8{
    position: absolute;
    z-index: 0;
    margin-left: 1700px;
    margin-top: 560px;
}
.O-container{
    height: 80vh;
    width: 95vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.option-thumb{
    width: 610px;
    height: 300px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    border-radius: 5px 45px 5px 45px;
    border: solid transparent 2px;
    z-index: 1;
}
.option-thumb:hover{
    border: solid #F59518 2px;
}
.option-thumb-marked{
    border: solid #F59518 2px;
}
.option-image-right{
    height: 300px;
    width: 300px;

}
.O-img{
    width: 280px;
    height: 280px;
    margin-top: 40px;
}
.O-img-1{
    width: 280px;
    height: 280px;
    margin-top: 50px;
    margin-left: -10px;
}
.O-img-2{
    margin-left: 40px;
    margin-top: 15px;
}
.O-img-3{
    margin-left: 40px;
    margin-top: 75px;
}

.option-image-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
}

/* ------------------------------------------ */
/* Section Contact */
/* ------------------------------------------ */

.contact{
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.feuille-form-10{
    position: absolute;
    margin-right: 1678px;
    margin-top: -800px;
}
.feuille-form-11{
    position: absolute;
    margin-right: 1765px;
    margin-top: -450px;
}

.form-container{
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.form-class{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nom-prenom-bloc{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nom-input{
    width: 250px;
    height: 60px;
    border-radius: 35px 5px 35px 5px;
    color: rgba(16, 26, 36, 0.71);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    border: #F59518 2px solid;
}
.email-input{
    width: 583px;
    height: 60px;
    border-radius: 35px 5px 35px 5px;
    color: rgba(16, 26, 36, 0.71);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; 
    border: #F59518 2px solid;
}
.adresse-input{
    width: 583px;
    height: 60px;
    border-radius: 35px 5px 35px 5px;
    color: rgba(16, 26, 36, 0.71);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    border: #F59518 2px solid;
}
.tel-input{
    width: 583px;
    height: 60px;
    border-radius: 35px 5px 35px 5px;
    color: rgba(16, 26, 36, 0.71);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    border: #F59518 2px solid;
}
.submit-btn{
    background-color: #101A24;
    width: 583px;
    height: 70px;
    border-radius: 35px 5px 35px 5px;
    color: white;
    text-align: center;
    font-family: "David Libre";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.valider-bloc{
    width: 590px;
}
.form-text{
    color: #5C6574;
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
}

.feuille-form-12{
    position: absolute;
    margin-right: -1660px;
    margin-top: 100px;
}
.feuille-form-13{
    position: absolute;
    margin-right: -1740px;
    margin-bottom: -450px;
}
/* ------------------------------------------ */
/* Section Propos */
/* ------------------------------------------ */

.A-propos{
    width: 100%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.a-container{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-card{
    width: 70%;
    height: 650px;
    border: #F59518 5px solid;
    border-radius: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -100px;
}
.a-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 90%;
}
.a-text{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    font-family: "Inter";
}
.a-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 90%;
}
.a-img{
    width: 800px;
    height: 500px;
}
.info-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.info{
    font-size:22px ;
    font-weight: bold;
}

.feuille-form-14{
    position: absolute;
    margin-right: 1680px;
    margin-top: 90px;
}
.feuille-form-15{
    position: absolute;
    margin-right: -1660px;
    margin-top: 90px;
}
.feuille-form-16{
    position: absolute;
    margin-right: -1740px;
    margin-top: 760px;
}
.feuille-form-17{
    position: absolute;
    margin-right: 1750px;
    margin-top: 760px;
    transform: scaleX(-1);
}

/* ------------------------------------------ */
/* ------------------------------------------ */

footer{
    width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-container{
    width: 70vw;
    height: 30vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.footer-column-1{
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.column-1-container{
    height: 40%;
    display: flex;
    align-items: center;
}
.footer-title{
    color: #101A24;
    text-align: center;
    font-family: "David Libre";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; 
    margin-left: 15px;
}
.column-1-p{
    color: #5C6574;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; 
    width: 452px;
    height: 90px;
}
.footer-column-2{
    height: 25vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.h6-footer{
    color: #101A24;
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
}
.column-2-container{
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
}

.hyper-link-footer{
    color: #5C6574;
    font-family: "Inter";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; 
}
.footer-column-3{
    width: 100px;
    height: 25vh;
    display:flex;
    flex-direction: column;
}
.footer-social{
    display: flex;
    justify-content: space-between;
}
.logo-reseau{
    width: 45px;
    height: 45px;
}
.line{
    background-color: #E8E9EA;
    width: 60vw;
    height: 1px;
    margin: 0 auto;
}
.mention-container{
    width: 60vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mention-text{
    color: #5C6574;
    font-size: 15px;
}
.mentions-link{
    color: #5C6574;
    font-size: 15px;
    text-decoration: underline;
}


/* ------------------------------------------ */
/* Reponsive */
/* ------------------------------------------ */


@media only screen and (max-width: 320px) {

/* ------------------------------------------ */
/* Homepage-responsive */
/* ------------------------------------------ */

    #icons:before{
        content: "\2630";
        font-size: 30px;
        color: #F59518;
        font-weight: 500;
    }

    .cercle-background{
        height: 300px;
        width: 350px;
        position: absolute;
        margin-left: -90px;
        margin-top: -50px;
    }

    .logo {
        width: 75px;
        height: 75px;
        margin-left: 20px; 
        margin-top: 10px; 
    }
    .homepage {
        height: 100vh; 
        background-color: yellowgreen;
    }
    .article{
        width: 100%;
        height: 80%;
        flex-direction: column;
        justify-content: space-between;
    }
    .right-article{
        width: 95%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .left-article{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
    }
    .right-article-title{
        width: 90%;
        font-size: 38px;
        font-weight: 900;
    }
    .right-article-p{
        font-size: 14px;
        line-height: 30px;
        color: #5C6574;
    }

    .nav-link {
        font-size: 16px;
    }

    .piscine-responsive{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 25px 10px 25px 10px;
    }
    .fruit{
        display: none;
    }
    .piscine{
        display: none;
    }
    .feuille-1{
        width: 380px;
        height: 350px;
        margin-top: 120px;
        margin-left: -250px;
        transform: rotate(10deg);

    }
    .feuille-2{
        width: 295px;
        height: 280px;
        margin-top: 170px;
        margin-left: 150px;
        transform: rotate(0deg);
    }
    .feuille-3{
        width: 116px;
        height: 213px;
        margin-top: 430px;
        margin-left: 250px;
    }
    .right-article-btn{
        width: 85%;
        justify-content: space-between;
        margin-right: 45px;
        margin-top: -20px;

    }
    .right-article-piscine{
        width: 200px;
        height: 45px;
        font-size: 14px;
        font-weight: 400;
    }
    .right-article-projet{
        width: 250px;
        height: 45px;
        font-size: 14px;
        font-weight: 400;
    }

/* ------------------------------------------ */
/* Forme-responsive */
/* ------------------------------------------ */
 
.forme{
    height: 320vh;
    overflow: hidden;
} 

.h2-title{
    font-size: 36px;
}

.p-sub{
    font-size: 14px;
}
.forme-art{
    height: 100%;
}
.forme-container {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 150px;
}
.forme-thumb-container{
    width: 95%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-art{
    position: absolute;
    width: 230px;
    height: 230px;
    margin: 0;
    margin-top: -20px;
}
.white-bloc{
    width: 95%;
    height: 180px;
    margin-top: 190px;
    justify-content: space-around;
    padding: 25px 0px 25px 0px;
    border-radius: 30px 5px 30px 5px;
}
.h3-title-thumb{
    font-size: 24px;
}
.thumb-subtext{
    font-size: 14px;
}
.art-feuille-1{
    margin-top: -2105px;
    margin-right: 190px;
}
.art-feuille-2{
    margin-top: -2000px;
    left: 80px;
    transform: rotate(180deg);
}
.art-feuille-3{
    margin-top: 2180px;
    left: 155px;
}
.art-feuille-4{
    margin-top: 2100px;
    margin-right: 250px;
    transform: rotate(180deg);
}

/* ------------------------------------------ */
/* Dimension-responsive */
/* ------------------------------------------ */
 

.dimension{
    height: 290vh;
}
.dimension-ruler-title{
    font-size: 28px;
}
.dimension-ruler-container{
    height: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    overflow: hidden;
}
.dimension-ruler-container-2{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.ruler-largeur{
    flex-direction: column;
    width: 30%;
    height: 100%;
    align-items: baseline;
    justify-content: center;
}
.ruler-longeur{
    flex-direction: column;
    width: 40%;
    height: 90%;
    align-items: baseline;
    justify-content: center;
}
.responsive-ruler{
    background-color: rgba(16, 26, 36, 0.71);
}
.mesure{
    height: 50px;
    width: 90px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.long-bar{
    transform: rotate(90deg);
}
.short-bar{
    transform: rotate(90deg);
}
.number-ruler{
    position: relative;
    margin: 0;
}
.feuille-3-dimension{
    display: none;
}
.feuille-4-dimemsion{
    display: none;
}

/* ------------------------------------------ */
/* Dimension-revetement */
/* ------------------------------------------ */
 .bloc-top{
    height: 40vh;
 }
.revetement{
    height: 320vh;
}
.R-container{
    height: 95%;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}
.R-thumb{
    flex-direction: column;
    min-width: 0;
    width: 95%;
    height: 500px;
    margin-top: 15px;
    border: solid 3px transparent;
    justify-content: space-between;
}
.R-thumb:hover{
    border: solid 3px #F59518;
}
.R-img{
    width: 100%;
    height: 254px;
    border-radius: 45px 0px 45px 5px;
}
.R-subText{
    font-size: 14px;
    text-align: center;
}
.feuille-revetement-1{
    display: none;
}
.feuille-revetement-2{
    display: none;
}
.feuille-revetement-3{
    display: none;
}
.feuille-revetement-4{
    display: none;
}

/* ------------------------------------------ */
/* Dimension-options */
/* ------------------------------------------ */

.options{
    height: 320vh;
    overflow: hidden;
    position: relative;
}
.O-container{
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
}
.option-thumb{
    flex-direction: column;
    width: 95%;
    height: 470px;
}
.option-image-right{
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.O-img{
    width: 200px;
    height: 200px;
    margin-top: 40px;
}
.feuille-option-5{
    top: 80;
    margin: 0;
}
.feuille-option-6{
    margin-top: 80px;
    margin-left: 150px;
}
.feuille-option-7{
    display: none;
}
.feuille-option-8{
    display: none;
}

/* ------------------------------------------ */
/* Contact-responsive  */
/* ------------------------------------------ */
.contact{
    height: 150vh;
}
.form-container{
    width: 100%;
    height: 180%;
    justify-content: space-between;
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.feuille-form-10{
    margin-right: 180px;
    margin-top: -100px;
    z-index: -1;
}
.feuille-form-11{
    margin-right: 190px;
    margin-top: 80px;
    z-index: -1;
}
.feuille-form-12{
    z-index: -1;
    margin-right: -100px;
    margin-top: 270px;
}
.feuille-form-13{
    z-index: -1;
    margin-right: -200px;
    margin-top: 455px;
}
.form-class{
    height: 100%;
    width: 90%;
}
.nom-prenom-bloc{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 25%;
}
.nom-prenom-bloc{
    width: 100%;
}
.nom-input{
    width: 280px;
    font-size: 20px;
}
.email-input{
    width: 280px;
    font-size: 20px;
}
.adresse-input{
    width: 280px;
    font-size: 20px;
}
.tel-input{
    width: 280px;
    font-size: 20px;
}
.submit-btn{
    width: 280px;
    height: 65px;
    font-size: 20px;
}
.valider-bloc{
    width: 90%;
    font-size: 20px;
}

/* ------------------------------------------ */
/* Propos-responsive */
/* ------------------------------------------ */

.A-propos{
    height: 120vh;
}
.a-container{
    height: 100%;
}
.a-card{
    height: 100%;
    width: 95%;
    flex-direction: column;
    overflow: hidden;
    border: #F59518 3px solid;
}
.a-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 90%;
}
.a-text{
    width: 250px;
    font-size: 20px;
}
.a-img{
    width: 550px;
    height: 200px;

}
.info-container{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.info{
    font-size:18px ;
    font-weight: bold;
}
.feuille-form-14{
    display: none;
}
.feuille-form-15{
    display: none;
}
.feuille-form-16{
    display: none;
}
.feuille-form-17{
    display: none;
}

/* ------------------------------------------ */
/* Footer-responsive */
/* ------------------------------------------ */
footer{
    height: 100vh;
}
.footer-container{
    height: 90%;
    width: 95%;
    flex-direction: column;
}
.footer-column-1{
    flex-direction: column;
    width: 100%;
    height: 28vh;
}
.column-1-container{
    flex-direction: column;
}
.column-1-p{
    font-size: 14px;
    width: 100%;
    text-align: center;
}
.footer-column-2{
    width: 100%;
    align-items: center;
}
.column-2-container{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.hyper-link-footer{
    font-size: 15px;
}
.footer-column-3{
    width: 100%;
    align-items: center;
}
.footer-social{
    width: 40%;
}
.line{
    width: 95%;
}
.mention-container{
    width: 95%;
}

}

@media (max-width: 800px) {

    .piscine-responsive{
        display: block;
    }
    .fruit{
        display: none;
    }
    .piscine{
        display: none;
    }

    #icons{
        display: block;
        padding: 10px 25px;
        margin-top: -20px;
        }
    #icons:before{
        content: "\2630";
        font-size: 35px;
        color: #F59518;
        font-weight: 600;
    }
    .active #icons:before {
        content: "\2715";
    }
    nav{
        width: 100vw;
        align-items: center;
    }
    nav ul{
        position: fixed;
        right: -100%;
        top: 13%;
        flex-direction: column;
        text-align: center;
        transition: 0.25s;
        width: 100%;
    }
    nav li {
        padding: 10px;
        background-color: #F59518;
        color: white;
    }
    .nav-link:hover{
        color: white;
    }

    nav.active ul {
        right: 0;
    }
    .nav-bloc-3{
        display: none;
    }

    /* ------------------------------------------ */
/* Forme-responsive */
/* ------------------------------------------ */
/* .forme{
    height: 250vh;
}
.h2-title{
    font-size: 36px;
}

.p-sub{
    font-size: 14px;
}
.forme-art{
    height: 100%;
    overflow: hidden;
}
.forme-container{
    width: 95%;
    height: 95%;
    flex-direction: column;
    justify-content: space-between;
}
.forme-thumb-container{
    width: 100%;
    height: 50%;
} */
.img-art{
    position: absolute;
    width: 230px;
    height: 230px;
    margin: 0;
    margin-top: -20px;
}
.white-bloc{
    width: 95%;
    height: 180px;
    margin-top: 190px;
    justify-content: space-around;
    padding: 25px 0px 25px 0px;
    border-radius: 30px 5px 30px 5px;
}
.h3-title-thumb{
    font-size: 24px;
}
.thumb-subtext{
    font-size: 14px;
}


}
